<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rupali</title>
</head>

<body bgcolor="pink">

    <h1 align="center">**Hello I am Rupali Calculator: **</h1>
    <a href="https://github.com/rupal-gurav "> Rupali Git HuB </a>
    <table border="3" bgcolor="cyan" align="center">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Subject</th>
            <th>Qualification</th>
        </tr>
        <tr>
            <td>Rupali</th>
                <td>100</td>
                <td>Computer Science</td>
                <td>Computer Science</td>
        </tr>
        <tr>
            <td>Rupali</th>
                <td>100</td>
                <td>Computer Science</td>
                <td>Computer Science</td>
        </tr>
        <tr>
            <td>Rupali</th>
                <td>100</td>
                <td>Computer Science</td>
                <td>Computer Science</td>
        </tr>
        <tr>
            <td>Rupali</th>
                <td>100</td>
                <td>Computer Science</td>
                <td>Computer Science</td>
        </tr>
        <tr>
            <td bgcolor="red"><button colspan="4" class="form-group">SUM</button></td>

        </tr>
    </table>



</body>

</html>