<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure1 page</title>
    <style>
        body{
            background-color: darksalmon;
        }
        h1{
            color: darkblue; 
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to LMS Secure1 page</h1>
    <h2>Hi my name is Rupam!</h2>
    <h3>This page can be accessed only after providing authentication.</h3>
    <table align="center">
        <tr>
            <td><a href="{% url 'home' %} ">Back to home page</a></td>
        </tr>
        <tr>
            <th>
                <h1>{{request.user}}</h1>
            </th>
        </tr>
    </table>
</body>
</html>